* {
  margin: 0;
  padding: 0;


  color: ghostwhite;
}

img {
  max-width: 100%;
}

body {
  /* background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
  background-color: #212121; */
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
.nav__items a {
  font-family: "Zen Dots", "cursive";
}

p {
  font-size: 1.5rem;
}

.nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.nav__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 100%;
}

.nav__items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.25s ease-in;
}

.nav__items li a {
  color: ghostwhite;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.nav__items li:hover a {
  text-decoration: underline;
}

.hero {
  width: 100vw;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: ghostwhite;
  font-size: 5em;
}

.tips-content,
.tips-content2,
.tips-content3,
.tips-content4 {
  text-align: center;
  margin-top: 10vh;
  font-size: 2em;
}

.second-title {
  text-align: center;
  margin-top: 20vh;
}

footer {
  text-align: center;
  display: flex;
  font-size: large;
  font-style: italic;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding-top: 10vh;
}

.item02,
.item04,
.item06 {
  max-width: 50%;
}

.image1 {
  width: 50%;
}

section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
  margin-top: 10vh;
}

.item01 {
  display: flex;
  width: 35%;
  background-image: url(/Images/projectimages4.png);
  background-size: cover;
  padding: 15px;
  align-items: center;
  justify-content: center;
  /* height: 40vh; */

  /* background-repeat:no-repeat;
    background-size:cover; */
}

.item02 {
  display: flex;
  width: 35%;
  align-items: center;
  font-size: 2em;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10000;
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5vh;
}

.item03 {
  display: flex;
  width: 35%;
  background-size: cover;
  padding: 15px;
  align-items: right;
  justify-content: right;
  /* height: 40vh; */
  background-position: right;
  position: relative;
}

.item04 {
  background-image: url("Images/projectimages1.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding: 15px;
}

.item06 {
  display: flex;
  width: 35%;
  align-items: center;
  font-size: 1.5em;
}

.item04 h2 {
  text-align: center;
  font-size: 2em;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer {
  position: absolute;
  text-align: center;
  font-size: large;
  font-style: italic;
  display: flex;
  justify-content: space-around;
}

.item05 {
  background-image: url("Images/project.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding: 15px;
  padding-top: 10px;
  /* height: 446.64px; */
}

.item05 h2 {
  text-align: center;
  font-size: 2em;
  padding-left: 5vw;
  padding-right: 5vw;
}

.sources {
  /* display: flex; */
  justify-content: left;
  flex-wrap: wrap;
  width: 30%;
  margin-right: 0%;
  /* padding-left: 40vh; */
}

.sources ul {
  list-style: none;
}

.sources ul li {
  margin-bottom: 3vh;
}

.sources h2 {
  text-decoration: underline;
}

.information {
  /* display: flex; */
  justify-content: right;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  width: 30%;
}

.information ul {
  list-style: none;
}

.information ul li {
  margin-bottom: 3vh;
}

.information p {
  padding-top: 0vh;
  padding-bottom: 3vh;
  text-decoration: underline;
  font-size: 2em;
}

.information h2 {
  padding-top: 0vh;
  padding-bottom: 3vh;
  text-decoration: underline;
  font-size: 2em;
}

.copyright {
  width: 30%;
  align-items: center;
  align-self: flex-end;
}

.copyright h2 {
  font-size: 1em;
  text-decoration: none;
  /* padding-left: 20vh ; */
  padding-bottom: 10vh;
}

@media only screen and (max-width: 1200px) {
  p {
    font-size: 1rem;
  }

  .page-wrapper {
    max-width: 100%;
  }
  .item01,
  .item02,
  .item03,
  .item04,
  .item05,
  .item06 {
    width: 100%;
  }

  section {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .sources{
    width: 100%;
  }
  .information{
    max-width: 100%;
  }
  .copyright {
    max-width: 100%;
  }
}